body {
	margin: 0px;
	padding: 0px;
	background: #000046;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	color: white; 
	text-align: center; 
	font-family: 'Yusei Magic', sans-serif; 
	text-shadow: 5px 5px 20px black;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	text-align: center;
}

.container a {
	text-decoration: none;
	display: block;
}

.container p {
	font-weight: bold;
	color: white;
	display: block;
}

.container img {
	width: 160px;
	height: 160px;
}

#item {
	margin: 5px 5px;
	padding: 10px;
	transition-timing-function: linear;
	transition: 1s;
}

#item:hover {
	background-color: white;
}

#item:hover p {
	color: #01295F;
}

#foot {
	text-align: center;
	font-size: 14px;
	margin: 50px;
	color: #FFB30F;
}

/* This is how you write a comment in CSS*/